---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';
import * as styles from '../styles/post.css.ts';
import Layout from '../layouts/Layout.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
    <main class={styles.main}>
      <article class={styles.article}>
        {heroImage && (
          <div class={styles.heroImage}>
            <Image width={1020} height={510} src={heroImage} alt={`${title} image`} />
          </div>
        )}

        <header class={styles.header}>
          <h1 class={styles.title}>{title}</h1>
          <p class={styles.date}>
            <FormattedDate date={pubDate} />
            {updatedDate && (
              <span class={styles.updated}>
                {' '}・ Updated <FormattedDate date={updatedDate} />
              </span>
            )}
          </p>
        </header>

        <div class={styles.content}>
          <slot />
        </div>
      </article>
    </main>
</Layout>